* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
.body {
   background: #fff;
   color: #222;
   font-family: 'Montserrat', sans-serif;
}
.header {
   width: 100%;
   height: 50px;
   position: relative;
}
.navigation {
   width: 300px;
   height: 30px;
   padding: 0px 30px;
   position: absolute;
   top: 15px;
   right: 0;
}
.manu {
   width: 115px;
   height: 30px;
   padding-right: 15px;
   display: inline-block;
   position: absolute;
   top: 0;
   right: 145px;
}
.manu-item {
   width: 34px;
   height: 24px;
   display: inline-block;
   position: absolute;
   top: 4px;
   right: 71px;
}
.i {
   width: 56px;
   height: 24px;
   padding-left: 15px;
   display: inline-block;
   position: absolute;
   top: 4px;
   right: 15px;
}
.manu2 {
   width: 115px;
   height: 30px;
   display: inline-block;
   position: absolute;
   top: 0;
   right: 30px;
}
.apps {
   width: 30px;
   height: 30px;
   display: inline-block;
   background: url(img/i1_1967ca6a.png) -132px -39px;
   position: absolute;
   top: 0;
   right: 85px;
   opacity: .5;
}
.apps:hover {
   opacity: 1;
   cursor: pointer;
}
.signin {
   width: 85px;
   height: 30px;
   display: inline-block;
   padding-left: 15px;
   position: absolute;
   top: 0;
   right: 0px;
}
.sign {
   width: 70px;
   height: 30px;
   background: #4285f4;
   color: #fff;
   border: 1px solid #4285f4;
   font-weight: bold;
   outline: none;
   padding: 0 12px;
   border-radius: 2px;
   font-size: 13px;
}
.manu-item a {
   color: #222;
   text-decoration: none;
   font-size: 13px;
   font-family: 'Nunito', sans-serif;
}
.manu-item a:hover {
   text-decoration: underline;
   opacity: .85;
}
 .dropdown-content {
   display: none;
   position: absolute;
   top: 45px;
   right: 0px;
   background-color: #fff;
   width: 322px;
   height: 498px;
   padding: 28px;
   box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
   z-index: 1;
 }
 .dropdown-content:after {
   content: "";
   border-top: 1px solid rgba(0,0,0,0.2);
   border-left: 1px solid rgba(0,0,0,0.2);
   position: absolute;
   top: -6px;
   left: 217px;
   box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
   width: 10px;
   height: 10px;
   transform: rotate(45deg);
   z-index: 10;
   background: #fff; 
 }
 .droplistitem {
   list-style: none;
   width: 88px;
   height: 100px;
   font-family: 'Nunito', sans-serif;
   float: left; 
 }
 .gicons {
   width: 64px;
   height: 64px;
   background: url(img/gicons.png);
   margin: 0 auto;  
 }
 .dropdown-content a {
   text-decoration: none;
   font-size: 13px;
   font-family: 'Nunito', sans-serif;
   color: #222;
 }
 .show {display:block;}
 .gicons-title {
   width: 88px;
   text-align: center; 
 }
 .droplistitem:hover {
   border: 1px solid rgba(34,34,34,0.2);
 }
.content {
   width: 100%;
   padding: 150px 0 0 0;
}
.main-logo img {
   margin: 0 auto;
   display: block;
}
.search {
   width: 585px;
   height: 44px;
   margin: 50px auto 0 auto;
   display: block;
   padding: 5px 8px 0 16px;
   border: 1px solid rgba(34,34,34,0.2);
   border-radius: 3px;
   box-shadow: 1px 1px 1px  1px rgba(34,34,34,0.2);
}
.search:hover {
   box-shadow: 1px 1px 1px  2px rgba(34,34,34,0.2);
}
.search-bar {
   width: 517px;
   height: 37px;
   border: none;
   float: left;
   display: block;
   outline: none;
}
.searh-icon {
   display: block;
   width: 40px;
   height: 37px;
   float: right;
   padding: 7px 8px;
   position: relative;
   cursor: pointer;
}
.searh-icon img {
   width: 24px;
   height: 24px;
   display: block;
}
.searh-icon:hover .voice {
   cursor: pointer;
   visibility: visible;
}
.voice {
   visibility: hidden;
   width: 116px;
   height: 30px;
   background: #222;
   color: #fff;
   font-size: 11px;
   font-weight: bold;
   position: absolute;
   padding: 0 15px 0 18px;
   line-height: 30px;
   font-family: 'Nunito', sans-serif;
   top: 45px;
   right: -40px;
   border: 1px solid white;
}
.voice:before {
   content: "";
   display: block;
   position: absolute;
   border: 5px solid #222;
   border-top-color: transparent;
   border-left-color: transparent;
   border-right-color: transparent;
   top: -10px;
   left: 50px;
}
.sub-btn {
   width: 585px;
   height: 75px;
   margin: 0 auto;
}
.btn-btn {
   background: #f2f2f2;
   border: 1px solid #f2f2f2;
   border-radius: 2px;
   color: #757575;
   cursor: pointer;
   font-family: 'Nunito', sans-serif;
   font-size: 13px;
   font-weight: bold;
   margin: 11px 4px;
   padding: 0 16px;
   text-align: center;
   width: 140px;
   height: 44px;
   outline: none;
}
.form-btn {
   width: 100%;
   margin: 0 auto;
   padding: 16px 140px;
}
.btn-btn:hover {
   color: #222;
   border: 1px solid rgba(34,34,34,0.2);
}
.footer {
   width: 100%;
   height: 100px;
   position: absolute;
   bottom: 0;
   background: #f2f2f2;
}
.ftr1 {
   width: 100%;
   height: 50px;
   border: 1px solid rgba(34,34,34,0.2);
   padding-left: 20px;
}
.ftr1 .geo {
   font-family: 'Nunito', sans-serif;
   font-size: 15px;
   line-height: 50px;
   color: #757575;
}
.ftr2 {
   width: 100%;
   height: 50px;
}
.ftr-men1 {
   position: absolute;
   left: 20px;
   height: 50px;
   line-height: 50px;
}
.ftr-men2 {
   position: absolute;
   line-height: 50px;
   right: 20px;
}
.ftr-men1 a {
   text-decoration: none;
   color: #757575;
   padding-right: 27px;
   font-family: 'Nunito', sans-serif;
   font-size: 13px;
}
.ftr-men2 a {
   text-decoration: none;
   color: #757575;
   padding-left: 27px;
   font-family: 'Nunito', sans-serif;
   font-size: 13px;
}
.ftr2 a:hover {
   text-decoration: underline;
}
 